<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to QuickLend Maseno</h1>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{% url 'loan_list' %}">Loan List</a></li>
                <li><a href="{% url 'create_loan' %}">Create Loan</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" style="background-color: #e74a3b; color: #fff;">Logout</button>

                    </form>
                </li>
            </ul>
        </nav>
        
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 QuickLend Maseno</p>
        <p>powered by Am.nyonges@</p>
    </footer>
</body>
</html>
